<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %} - The Daily Trends
        </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body{
                padding:10px;
                font-size:12px;
            }
        </style>
    </head>
    <body>
        <header>
            <h3>The Daily Trends!</h3>
            <a class="btn btn-sm btn-outline-primary" href="{{ url('feeds_list') }}">Listado</a> <a class="btn btn-sm btn-outline-primary"  href="{{ url('import_news') }}">Importar noticias</a>  <a class="btn btn-sm btn-outline-primary"  href="{{ url('create_feed') }}">Crear noticia</a>
        </header>
        <br>
        <section id="content">
            {% block content %}{% endblock %}
        </section>

        <footer>
            <p align="center">@the_daily_trends</p>
        </footer>
    </body>
</html>